.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  font-size: 24px;
}

.nav-items > ul {
  display: flex;
  align-items: center;
  padding-right: 20px;
  list-style: none;
}

.nav-items > ul > li {
  padding: 10px;
}

.shopping-cart-logo > img {
  width: 50px;
}

.restaurant-container {
  display: flex;
  margin: 5px 30px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.restaurant-card {
  background-color: #f0f0f0;
  padding: 7px;
  margin: 10px;
  width: 250px;
  height: auto;
}

.restaurant-card:hover {
  cursor: pointer;
  border: solid 1px black;
}

.restaurant-logo {
  width: 100%;
}

.search-bar {
  padding: 10px;
}

.filter-container {
  display: flex;
  padding: 0 10px;
  align-items: center;
  width: 100%;
}
.search {
  padding: 10px;
  margin: 10px;
}

.clear-filters {
  background-color: red;
}

.filter-btn {
  margin: 10px;
  padding: 10px;
  /* background-color: beige; */
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.Shimmers {
  display: flex;
  margin: 5px 30px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.shimmer-card {
  background-color: #f0f0f0;
  padding: 7px;
  margin: 10px;
  width: 250px;
  height: 400px;
  border-radius: 5%;
}

.shimmer-img {
  margin: 10px;
  width: parent;
  height: 200px;
  background-color: #d3d3d3;
  border-radius: 5%;
}

.shimmer-card > h3 {
  align-items: center;
  width: 80%;
  margin: auto;
  height: 20px;
  padding: 0 10px;
  background-color: #d3d3d3;
}

.login-btn {
  padding: 10px;
  cursor: pointer;
}
